@import 'http://resources.synerghetic.net/fonts/leitura/400_italic.css';
@import 'http://resources.synerghetic.net/fonts/geomanist/400.500.700.css';
.bg-purple-500, .bg-purple-500-hover, .button--primary {
  background-color: #59089e; }

.bg-purple-500-hover:hover, .button--primary:hover {
  background-color: #4b0786; }

.text-purple-500 {
  color: #59089e; }

.bg-amber-500 {
  background-color: #ffc107; }

.text-amber-500 {
  color: #ffc107; }

.bg-blue-500 {
  background-color: #42a5f5; }

.text-blue-500 {
  color: #42a5f5; }

.text-red-500, .error-message {
  color: #ff3e01; }

.bg-red-500 {
  background-color: #ff3e01; }

.text-white, .button--primary {
  color: #fff; }

.font-geomanist, .text-subtitle, .text-current, .label, .button, .button--primary, .input, .input--error, .error-message {
  font-family: 'Geomanist'; }

.font-leitura, .text-title {
  font-family: 'Leitura'; }

.font-normal {
  font-weight: 400; }

.font-medium {
  font-weight: 500; }

.font-bold, .label {
  font-weight: 700; }

.text-s, .input, .input--error, .error-message {
  font-size: 12px; }

.text-m, .text-current, .label {
  font-size: 16px; }

.text-l, .text-subtitle {
  font-size: 28px; }

.text-xl, .text-title {
  font-size: 52px; }

.text-title {
  line-height: 52px; }

.text-subtitle {
  line-height: 28px; }

.text-current, .label {
  line-height: 24px; }

.remove {
  display: none; }

.hidden {
  opacity: 0; }

.flex, .flex\:column {
  display: flex; }

.flex\:column {
  flex-direction: column; }

.relative {
  position: relative; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

@media screen and (max-width: 568px) {
  .no-mobile {
    display: none; } }

.button, .button--primary {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer; }
  .button:focus, .button--primary:focus {
    outline: none; }
  .button:hover, .button--primary:hover {
    transition: background-color 0.3s ease-in-out; }

.input-icon, .input-icon--error {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #94969c; }
  .input-icon--error {
    fill: #ff3e01; }

.input, .input--error {
  width: calc(100% - 16px * 2);
  border: 1px solid #94969c;
  border-radius: 8px;
  color: #2b1e31;
  padding: 12px 16px; }
  .input::placeholder, .input--error::placeholder {
    color: #94969c; }
  .input--error {
    border: 1px solid #ff3e01; }

.error-message {
  margin-top: 12px; }

.select {
  appearance: none; }

.input-with-label-container {
  margin-top: 40px; }

.label {
  margin-bottom: 12px; }

.page-container {
  width: 960px;
  margin: auto;
  box-sizing: border-box; }

@media screen and (max-width: 1000px) {
  .page-container {
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box; } }

@keyframes breathing {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.bubble, .bubble--small, .bubble--medium, .bubble--large {
  z-index: -1;
  border-radius: 50%;
  will-change: transform;
  pointer-events: none; }
  .bubble--small {
    width: 60px;
    height: 60px; }
  .bubble--medium {
    width: 180px;
    height: 180px; }
  .bubble--large {
    width: 320px;
    height: 320px; }
  .bubble.animated, .animated.bubble--small, .animated.bubble--medium, .animated.bubble--large {
    animation: breathing 10s ease-in-out infinite; }
