$purple-500: #59089e;
$purple-300: #ded5ea;
$purple-100: #f4f1f9;

$amber-500: #ffc107;
$amber-300: #feeeba;
$amber-100: #fffcf0;

$blue-500: #42a5f5;
$blue-300: #cde6fe;
$blue-100: #cde6fe;

$green-500: #81d155;

$red-500: #ff3e01;

$gray-500: #2b1e31;
$gray-400: #94969c;
$gray-300: #e7e7e7;
$gray-200: #f9f9f9;

$white: #fff;

.bg-purple-500 {
    background-color: $purple-500;
}

.bg-purple-500-hover {
    @extend .bg-purple-500;

    &:hover {
        background-color: darken($purple-500, 5);
    }
}

.text-purple-500 {
    color: $purple-500;
}

.bg-amber-500 {
    background-color: $amber-500;
}

.text-amber-500 {
    color: $amber-500;
}

.bg-blue-500 {
    background-color: $blue-500;
}

.text-blue-500 {
    color: $blue-500;
}

.text-red-500 {
    color: $red-500;
}

.bg-red-500 {
    background-color: $red-500;
}

.text-white {
    color: $white;
}
