h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.remove {
    display: none;
}

.hidden {
    opacity: 0;
    z-index: -1;
}

.flex {
    display: flex;
}

.flex\:column {
    @extend .flex;
    flex-direction: column;
}

.relative {
    position: relative;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

@media screen and (max-width: $breakpoint-mobile) {
    .no-mobile {
        display: none;
    }
}

.disabled {
    opacity: 0.8;
    cursor: default;
}
