name: Test and publish
on:
    create:
        tags:
            - v*
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            # Setup .npmrc file to publish to GitHub Packages
            - uses: actions/setup-node@v1
              with:
                  node-version: 12
            - run: yarn
            - run: yarn test
    publish:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 12
                  registry-url: https://npm.pkg.github.com/
            - run: yarn
            - run: yarn build
            - run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
